<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdkj.hydz">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".module.user.login.LoginActivity" />
        <activity android:name=".module.user.login.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.main.message.MessageListActivity" />
        <activity android:name=".module.user.account.AccountActivity" />
        <activity android:name=".module.user.account.BillActivity" />
        <activity android:name=".module.user.login.SettingActivity" />
        //修改昵称
        <activity
            android:name="com.cdkj.baselibrary.activitys.NickModifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //修改手机号
        <activity
            android:name="com.cdkj.baselibrary.activitys.UpdatePhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //找回密码
        <activity
            android:name="com.cdkj.baselibrary.activitys.FindPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //支付密码修改
        <activity
            android:name="com.cdkj.baselibrary.activitys.PayPwdModifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //相机
        <activity
            android:name="com.cdkj.baselibrary.activitys.ImageSelectActivity"
            android:theme="@style/ActivityDialogStyleBottom" />
        //web
        <activity
            android:name="com.cdkj.baselibrary.activitys.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".module.user.account.CardListActivity" />
        <activity android:name=".module.user.account.CardActivity" />
        <activity android:name=".module.user.account.WithdrawActivity" />
        <activity android:name=".module.user.account.BillPastActivity" />
        <activity android:name=".module.order.OrderActivity" />
        <activity android:name=".module.order.product.ProductActivity" />
        <activity android:name=".module.user.account.BillListActivity" />
        <activity android:name=".module.user.account.AuthenticateActivity" />
        <activity android:name=".module.main.message.MessageActivity" />
        <activity android:name=".module.man.ManActivity" />
        <activity android:name=".module.user.login.SystemMessageActivity" />
        <activity android:name=".module.order.product.FabricActivity" />
        <activity android:name=".module.order.product.CraftActivity"></activity>

    </application>

</manifest>